<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="List Of Drivers" [options]="false">
      <div class="table-responsive custom-table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th>Auto Id</th>
              <th>Vehicle Id</th>
              <th>Email</th>
              <th>Name</th>
              <th>Country Code</th>
              <th>Phone Number</th>
              <th>Ratting</th>
              <th>Credit(KHR)</th>
              <th>Date Of Birth</th>
              <th>Register Date</th>
              <th>Profile Photo</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="drivers?.length != 0">
            <tr *ngFor="let driver of drivers">
              <td>{{ driver?.autoIncrementID ? driver?.autoIncrementID : "---"}}</td>
              <td>{{ driver.uniqueID }}</td>
              <td *ngIf="driver.email != ''">{{ driver.email }}</td>
              <td *ngIf="driver.email == ''"> Not Available </td>
              <td>{{ driver.name }}</td>
              <td>{{ driver.countryCode }}</td>
              <td>{{ driver.onlyPhoneNumber }}</td>
              <td>{{ driver?.avgRating }}</td>
              <td><label
                  [ngStyle]="{'color': driver.isSame ? 'red' : '' }"><b>{{ driver?.creditBalance | round |number : '1.0-0'}}</b></label>
              </td>
              <td><label
                  [ngStyle]="{'color': driver.isSelected ? 'green' : '' }"><b>{{ driver?.dob | date:"dd/MM/yyyy" }}</b></label>
              </td>
              <td>{{ driver?.createdAt | date: "dd/MM/yyyy  h:mm a"  }}</td>
              <td>
                <div class="uploded-profile-pic datatable-profile-pic">
                  <figure>
                    <img src="{{profilePhotoUrl}}{{driver?.profilePhoto ? driver?.profilePhoto : 'default.png'}}"
                      (error)="imgErrorHandler($event)" alt="dashboard-user">
                  </figure>
                </div>
              </td>
              <td>
                <button class="btn btn-primary btn-action" ngbtooltip="btn-primary" type="button"
                  [routerLink]="['/reward/view-driver-reward/', driver._id]"><i class="fas fa-eye"></i></button>
                <button class="btn btn-danger btn-action" ngbtooltip="btn-danger" type="button"
                  [routerLink]="['/reward/add-driver-reward/', driver._id]"><i class="fas fa-plus"></i></button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="drivers?.length == 0">
            <tr>
              <td colspan="12" class="no-data-available">No data!</td>
            </tr>
          <tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
<ngx-loading [show]="loading"
  [config]="{animationType: 'wandering-cubes', primaryColour: primaryColour, secondaryColour: secondaryColour, backdropBorderRadius: '3px'}">
</ngx-loading>