<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <form [formGroup]="changePasswordForm" class="form-validate mb-lg" role="form" name="changePasswordForm"
      novalidate="" (submit)="changePasswordFormSubmit()">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="mb-4">Change Password</h5>
          <div class="input-group mb-3">
            <input placeholder="Current Password" type="password" name="currentPassword"
              formControlName="currentPassword" class="form-control" required
              [ngClass]="{ 'is-invalid': submitted && changePasswordForm.controls.currentPassword.errors }" />
            <div
              *ngIf="(submitted && changePasswordForm.controls.currentPassword.invalid) || changePasswordForm.controls.currentPassword.touched"
              class="custom-error-show">
              <div *ngIf="changePasswordForm.hasError('required','currentPassword')">
                Please enter current password.
              </div>
            </div>
            <div
              *ngIf="!changePasswordForm.hasError('required','currentPassword') && changePasswordForm.hasError('pattern','currentPassword')"
              class="custom-error-show">
              New password field should not allow space.
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="newPassword" placeholder="New Password"
              formControlName="newPassword" required maxlength="16"
              [ngClass]="{ 'is-invalid': submitted && changePasswordForm.controls.newPassword.errors }">
            <div
              *ngIf="(submitted && changePasswordForm.controls.newPassword.invalid) || changePasswordForm.controls.newPassword.touched"
              class="custom-error-show">
              <div *ngIf="changePasswordForm.hasError('required','newPassword')">
                Please enter new password.
              </div>
            </div>
            <div
              *ngIf="!changePasswordForm.hasError('required','newPassword') && changePasswordForm.hasError('pattern','newPassword')"
              class="custom-error-show">
              New password field should not allow space.
            </div>
            <div
              *ngIf="!changePasswordForm.hasError('pattern','newPassword') && !changePasswordForm.hasError('required','newPassword') && changePasswordForm.hasError('minlength','newPassword')"
              class="custom-error-show">
              New password must be between 6 to 16 characters.
            </div>
          </div>
          <div class="input-group mb-4">
            <input type="password" class="form-control" name="confPassword" placeholder="Confirm Password"
              formControlName="confPassword" required
              [ngClass]="{ 'is-invalid': submitted && changePasswordForm.controls.confPassword.errors }">
            <div
              *ngIf="(submitted && changePasswordForm.controls.confPassword.invalid) || changePasswordForm.controls.confPassword.touched"
              class="custom-error-show">
              <div *ngIf="changePasswordForm.hasError('required','confPassword')">
                Please enter confirm password.
              </div>
            </div>
            <div
              *ngIf="!changePasswordForm.hasError('required','confPassword') && changePasswordForm.value.confPassword != changePasswordForm.value.newPassword"
              class="custom-error-show">
              <span>Confirm password and new password must be same.</span>
            </div>
          </div>
          <button class="btn btn-primary mb-4">Change Password</button>
        </div>
      </div>
    </form>
  </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>
