<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Add Driver" [options]="false">
            <form [formGroup]="addDriverForm" (ngSubmit)="onFormSubmit()" novalidate class="custom-login">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="form-control-label">Name <span class="text-danger">*</span></label>
                            <input type="text"
                                [ngClass]="(isSubmitted && addDriverForm.controls.name.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'"
                                id="name" name="name" placeholder="Enter Name" formControlName="name" trim="blur">
                            <span *ngIf="isSubmitted && addDriverForm.hasError('required','name')"
                                class="custom-error-show">Please
                                enter name.</span>
                            <div *ngIf="isSubmitted && !addDriverForm.hasError('required','name') && addDriverForm.hasError('pattern','name')"
                                class="custom-error-show">
                                Name should contains alphabetic only.</div>
                            <div *ngIf="isSubmitted && !addDriverForm.hasError('required','name') && !addDriverForm.hasError('pattern','name') && (addDriverForm.hasError('maxlength','name') || addDriverForm.hasError('minlength','name'))"
                                class="custom-error-show">Name
                                must be 2 to 50 characters long.</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="form-control-label">Email</label>
                            <input type="email"
                                [ngClass]="(isSubmitted && addDriverForm.controls.email.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'"
                                id="email" name="email" placeholder="Enter Email" formControlName="email" trim="blur">
                            <span *ngIf="isSubmitted && addDriverForm.hasError('required','email')"
                                class="custom-error-show">Please enter email.</span>
                            <span
                                *ngIf="isSubmitted && !addDriverForm.hasError('required','email') && addDriverForm.hasError('pattern','email')"
                                class="custom-error-show">Please enter valid email.</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="form-control-label">Date Of Birth <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input class="form-control"
                                    [ngClass]="(isSubmitted && addDriverForm.controls.dob.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'"
                                    autocomplete="off" placeholder="yyyy-mm-dd" name="dob" ngbDatepicker
                                    #d="ngbDatepicker" formControlName="dob" readonly>
                                <div class="input-group-append">
                                    <span class="input-group-text" (click)="d.toggle()">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                <span *ngIf="isSubmitted && addDriverForm.hasError('required','dob')"
                                    class="custom-error-show">Please enter date of birth.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="form-control-label">Mobile Number <span class="text-danger">*</span></label>
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-xl-4">
                                    <select class="form-control" formControlName="countryCode"
                                        [ngClass]="(isSubmitted && addDriverForm.controls.countryCode.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'">
                                        <option *ngFor="let country of countries" [value]="country.phoneCode">
                                            {{country.phoneCode}} - {{country.code}}
                                        </option>
                                    </select>
                                    <div *ngIf="isSubmitted && addDriverForm.hasError('required','countryCode')"
                                        class="custom-error-show">
                                        Please select country.
                                    </div>
                                </div>
                                <div class="col-sm-8 col-md-8 col-xl-8">
                                    <input type="text"
                                        [ngClass]="(isSubmitted && addDriverForm.controls.phoneNumber.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'"
                                        id="phoneNumber" name="phoneNumber" placeholder="Enter Mobile Number"
                                        formControlName="phoneNumber" trim="blur" (input)="onChangeMobileNumber()">
                                    <div *ngIf="isSubmitted && addDriverForm.hasError('required','phoneNumber')"
                                        class="custom-error-show">
                                        Please enter mobile number.
                                    </div>
                                    <div *ngIf="isSubmitted && !addDriverForm.hasError('pattern','phoneNumber') && !addDriverForm.hasError('required','phoneNumber') && (addDriverForm.hasError('minlength','phoneNumber') || addDriverForm.hasError('maxlength','phoneNumber')) "
                                        class="custom-error-show">
                                        Mobile number must contain 8 to 16 digits.
                                    </div>
                                    <div *ngIf="isSubmitted && !addDriverForm.hasError('required','phoneNumber') && addDriverForm.hasError('pattern','phoneNumber')"
                                        class="custom-error-show">
                                        Please enter valid mobile number.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="form-control-label">Upload Profile Pic <span class="text-danger">*</span></label>
                            <div class="d-flex custom-file-upload-wrap">
                                <div class="form-group">
                                    <div class="custom-file-upload">
                                        <input id="file-upload" type="file" name="profilePhoto"
                                        formControlName="profilePhoto" (change)="onImageChange($event)"
                                        placeholder="Upload file" accept=".png,.jpg,.jpeg" />
                                        <span *ngIf="isSubmitted && !isProfileSelected"
                                                class="custom-error-show">Please select profile pic.</span>
                                        <span *ngIf="isSubmitted && isProfileSelected && isProfileExtensionError"
                                            class="custom-error-show">Only JPG, JPEG and PNG format allow.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h5>Vehicle Information</h5>
                        <hr>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="form-control-label">Vehicle Type <span class="text-danger">*</span></label>
                            <ng-select [ngClass]="'ng-select'" [options]="vehicleTypes" name="typeId"
                                formControlName="typeId" placeholder="Select Vehicle Type"
                                [ngClass]="(isSubmitted && addDriverForm.controls.typeId.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'">
                                <ng-template #optionTemplate
                                    let-option="option">
                                    <img src="{{vehicleTypeImageUrl}}{{option?.image}}" width="25" height="25"/>
                                    {{option?.label}}
                                </ng-template>
                            </ng-select>
                            <span *ngIf="isSubmitted && addDriverForm.hasError('required','typeId')"
                                class="custom-error-show">Please select vehicle type.</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="form-control-label">Vehicle Year <span class="text-danger">*</span></label>
                            <input type="text"
                                [ngClass]="(isSubmitted && addDriverForm.controls.year.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'"
                                id="year" name="year" placeholder="Enter Vehicle Year" formControlName="year"
                                trim="blur">
                            <div *ngIf="isSubmitted && addDriverForm.hasError('required','year')"
                                class="custom-error-show">
                                Please enter vehicle year.
                            </div>
                            <div *ngIf="isSubmitted && !addDriverForm.hasError('pattern','year') && !addDriverForm.hasError('required','year') && (addDriverForm.hasError('minlength','year') || addDriverForm.hasError('maxlength','year')) "
                                class="custom-error-show">
                                Vehicle year must contain 4 to 5 digits.
                            </div>
                            <div *ngIf="isSubmitted && !addDriverForm.hasError('required','year') && addDriverForm.hasError('pattern','year')"
                                class="custom-error-show">
                                Please enter valid vehicle year.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="form-control-label">Vehicle Seates <span class="text-danger">*</span></label>
                            <input type="text"
                                [ngClass]="(isSubmitted && addDriverForm.controls.seats.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'"
                                id="seats" name="seats" placeholder="Enter Vehicle Seats" formControlName="seats"
                                trim="blur">
                            <div *ngIf="isSubmitted && addDriverForm.hasError('required','seats')"
                                class="custom-error-show">
                                Please enter vehicle seats.
                            </div>
                            <div *ngIf="isSubmitted && !addDriverForm.hasError('pattern','seats') && !addDriverForm.hasError('required','seats') && (addDriverForm.hasError('minlength','seats') || addDriverForm.hasError('maxlength','seats')) "
                                class="custom-error-show">
                                Vehicle seats must contain 1 to 2 digits.
                            </div>
                            <div *ngIf="isSubmitted && !addDriverForm.hasError('required','seats') && addDriverForm.hasError('pattern','seats')"
                                class="custom-error-show">
                                Please enter valid vehicle seats.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="form-control-label">Vehicle Color <span class="text-danger">*</span></label>
                            <ng-select [ngClass]="'ng-select'" [options]="vehicleColors" name="color"
                                formControlName="color" placeholder="Select Vehicle Color"
                                [ngClass]="(isSubmitted && addDriverForm.controls.color.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'">
                            </ng-select>
                            <span *ngIf="isSubmitted && addDriverForm.hasError('required','color')"
                                class="custom-error-show">Please select vehicle color.</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="form-control-label">Vehicle Model <span class="text-danger">*</span></label>
                            <input type="text"
                                [ngClass]="(isSubmitted && addDriverForm.controls.model.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'"
                                id="model" name="model" placeholder="Enter Vehicle Model" formControlName="model" trim="blur">
                            <span *ngIf="isSubmitted && addDriverForm.hasError('required','model')"
                                class="custom-error-show">Please
                                enter vehicle model.</span>
                            <!-- <div *ngIf="isSubmitted && !addDriverForm.hasError('required','model') && addDriverForm.hasError('pattern','model')"
                                class="custom-error-show">
                                Vehicle model should contains characters and digits only.</div> -->
                            <div *ngIf="isSubmitted && !addDriverForm.hasError('required','model')  && (addDriverForm.hasError('maxlength','model') || addDriverForm.hasError('minlength','model'))"
                                class="custom-error-show">Vehicle model
                                must be 2 to 32 characters long.</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="form-control-label">Plat Number <span class="text-danger">*</span></label>
                            <input  type="text"
                                [ngClass]="(isSubmitted && addDriverForm.controls.platNumber.errors)?'form-control input-md ng-touched ng-dirty is-invalid ng-invalid':'form-control input-md ng-touched ng-dirty ng-valid'"
                                id="platNumber" name="platNumber" placeholder="Enter PlatNumber" formControlName="platNumber"
                                trim="blur" >
                            <span *ngIf="isSubmitted && addDriverForm.hasError('required','platNumber')"
                                class="custom-error-show">Please
                                enter PlatNumber.</span>
                            <!-- <div *ngIf="isSubmitted && !addDriverForm.hasError('required','platNumber') && addDriverForm.hasError('pattern','platNumber')"
                                class="custom-error-show">
                                PlatNumber should contains characters and digits only.</div> -->
                            <div *ngIf="isSubmitted && !addDriverForm.hasError('required','platNumber')  && (addDriverForm.hasError('maxlength','platNumber') || addDriverForm.hasError('minlength','platNumber'))"
                                class="custom-error-show">PlatNumber
                                must be 2 to 32 characters long.</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6 checkbox-wrap d-flex">
                        <div class="row w-100">
                            <div class="col-sm-6 col-md-6 col-xl-6">
                                <div class="form-group">
                                    <div class="checkbox d-inline">
                                        <input type="checkbox" name="checkbox-1" id="air" formControlName="isAcAvailable">
                                        <label for="air" class="cr">Air Conditioner <span class="text-danger">*</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xl-6">
                                <div class="form-group">
                                    <div class="checkbox d-inline">
                                        <input type="checkbox" name="checkbox-1" id="smoking" formControlName="isSmokingAllowed">
                                        <label for="smoking" class="cr">Smoking <span class="text-danger">*</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 section-pic-upload">
                        <label class="form-control-label">Upload Vehicle Photo (Front, Back & Side) <span class="text-danger">*</span></label>
                        <div class="d-flex custom-file-upload-wrap">
                            <div class="form-group">
                                <div class="custom-file-upload">
                                    <input id="file-upload" type="file" formControlName="vehiclePhotos"
                                       (change)="onVehicleImageChange($event)" accept=".png,.jpg,.jpeg" multiple />
                                    <span *ngIf="isSubmitted && !isVehiclePhotosSelected"
                                       class="custom-error-show">Please select vehicle images.</span>
                                    <span *ngIf="isSubmitted && isVehiclePhotosSelected && isVehiclePhotosExtensionError"
                                       class="custom-error-show">Only JPG, JPEG and PNG format allow.</span>
                                    <span *ngIf="isSubmitted && isVehiclePhotosSelected && !isVehiclePhotosExtensionError && vehiclePhotoLengthError"
                                       class="custom-error-show">Please select 1 to 3 vehicle photos.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 section-pic-upload">
                        <label class="form-control-label">Your ID Card (Front & Back) <span class="text-danger">*</span></label>
                        <div class="d-flex custom-file-upload-wrap">
                            <div class="form-group">
                                <div class="custom-file-upload">
                                    <input id="file-upload" type="file" formControlName="idPhotos"
                                       (change)="onIdImageChange($event)" accept=".png,.jpg,.jpeg" multiple />
                                    <span *ngIf="isSubmitted && !isIdPhotosSelected"
                                       class="custom-error-show">Please select ID card images.</span>
                                    <span *ngIf="isSubmitted && isIdPhotosSelected && isIdPhotosExtensionError"
                                       class="custom-error-show">Only JPG, JPEG and PNG format allow.</span>
                                    <span *ngIf="isSubmitted && isIdPhotosSelected && !isIdPhotosExtensionError && idPhotoImageLengthError"
                                       class="custom-error-show">Please select 1 to 2 ID card images.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 section-pic-upload">
                        <label class="form-control-label">Your Vehicle ID Card (Front & Back) <span class="text-danger">*</span></label>
                        <div class="d-flex custom-file-upload-wrap">
                            <div class="form-group">
                                <div class="custom-file-upload">
                                    <input id="file-upload" type="file" formControlName="vehicleIdPhotos"
                                       (change)="onVehicleIdImageChange($event)" accept=".png,.jpg,.jpeg" multiple />
                                    <span *ngIf="isSubmitted && !isVehicleIdPhotosSelected"
                                       class="custom-error-show">Please select vehicle ID images.</span>
                                    <span *ngIf="isSubmitted && isVehicleIdPhotosSelected && isVehicleIdPhotosExtensionError"
                                       class="custom-error-show">Only JPG, JPEG and PNG format allow.</span>
                                    <span *ngIf="isSubmitted && isVehicleIdPhotosSelected && !isVehicleIdPhotosExtensionError && vehicleIdPhotoImageLengthError"
                                       class="custom-error-show">Please select 1 to 2 vehicle ID images.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-12 section-pic-upload">
                        <label class="form-control-label">Your Plate Number <span class="text-danger">*</span></label>
                        <div class="d-flex custom-file-upload-wrap">
                            <div class="form-group">
                                <div class="custom-file-upload">
                                    <input id="file-upload" type="file" formControlName="plateNoPhotos"
                                       (change)="onPlateNumberImageChange($event)" accept=".png,.jpg,.jpeg" multiple />
                                    <span *ngIf="isSubmitted && !isPlateNoPhotosSelected"
                                       class="custom-error-show">Please select plate number image.</span>
                                    <span *ngIf="isSubmitted && isPlateNoPhotosSelected && isPlateNoPhotosExtensionError"
                                       class="custom-error-show">Only JPG, JPEG and PNG format allow.</span>
                                    <span *ngIf="isSubmitted && isPlateNoPhotosSelected && !isPlateNoPhotosExtensionError && plateNoPhotoImageLengthError"
                                       class="custom-error-show">Please select 1 plate number image.</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="footrt-btns">
                    <button type="submit" class="btn btn-info"><i class="fa fa-check"></i>Submit</button>
                    <button type="button" class="btn btn-danger" [routerLink]="['/driver/list-driver']"><i
                            class="fa fa-backward"></i>Cancel</button>
                </div>
            </form>
        </app-card>
    </div>
</div>
<ngx-loading [show]="loading"
    [config]="{animationType: 'wandering-cubes', primaryColour: primaryColour, secondaryColour: secondaryColour, backdropBorderRadius: '3px'}"></ngx-loading>